body{
    margin: 0%;
}
html {
    background-color: #001D3D;
    font-family: Arial, sans-serif;
}

header {
    background-color: #003566;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
    width: 100%;
    position: relative;
}

ul li{
    list-style: none;
}

.menus {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 100%;
}

.menus:checked ~ .links {
    display: block;
}

.botao {
    display: flex;
    align-items: center;
    padding-right: 1%;
}

.links {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.links li {
    margin-bottom: 10px;
}

#check {
    cursor: pointer;
    display: block;
}

#menu {
    display: flex;
    width: 100%;
    border-color: #1A1D22;
}

li a{
    color: #FFF;
    text-decoration: none;
}

.menus:checked + label + .links{
    display: block;
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #001D3D;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    padding: 10px;
    align-items: center;
}

.sol {
    display: flex;
    align-items: center;
    width: 100%;
}

h1 {
    color: #FFC300;
    margin-left: 10px;
    font-family: "Lexend Giga", sans-serif;;
}

h2 {
    color: #FFC300;
    font-family: "Lexend Giga", sans-serif;;
}

.site {
    display: flex;
    align-items: center;
}

.quadr {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #003566;
    color: #FFF;
    border-radius: 10px;
}

.quad{
    margin: 20px auto;
    padding: 20px;
    background-color: #003566;
    color: #FFF;
    border-radius: 10px;
}


.texto {
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 20px;
}

.texto2 {
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 20px;
}

.intros {
    color: #FFC300;
    margin-top: 0;
}
.benefit-card p {

    font-size: 125%;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bene img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.posi{
    text-align: center;
}

.funci, .bene, .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #003566;
    color: #FFF;
    border-radius: 10px;
}

.funci img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.benefit-card {
    background-color: #004080;
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.benefit-card h3 {
    color: #FFC300;
    margin-bottom: 10px;
}

.benefit-card:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    background-color: #FFC300;
    color: #003566;
    cursor: pointer;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo{
    width: 30%;
}

.vide{
    width: 100%; 
    height : 315px;
}

@media screen and (min-width: 1024px){
    .logo{
        width: 100%;
    }
    .bene img{
        width: 85%;
    }
    .quad{
        display: flex;
        padding-left: 10%;
        align-items: center;
    }
    .texto{
        max-width: 60%;
    }
    .benefit-cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
    }
    .benefit-card{
        margin-bottom: 0px;
    }
}